@import "tailwindcss";
 
@plugin "tailwindcss-motion";



body {
    background-color: #010101;
}


.portrait-1 {
    box-shadow: 8em -8em 100em -4em #F8C32480;
}
.portrait-2 {
    box-shadow: -8em -8em 100em -4em #FF9D0070;
}

input::placeholder {
    color: #ffffff;
    font-size: 18px;
}